<div class="card">
  <h1>Gestión de Categorías</h1>
  <div class="mb-3">
    <p-button label="Nuevo" (click)="newOpenDialog()" />
  </div>

  <p-table [value]="categorias" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Detalle</th>
        <th>Gestión</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
      <tr>
        <td>{{ categoria.id }}</td>
        <td>{{ categoria.nombre }}</td>
        <td>{{ categoria.detalle }}</td>
        <td>
          <div class="flex">
            <!-- <p-button icon="pi pi-pencil" severity="warning" (click) = "visible=true"/> -->
            <p-button icon="pi pi-pencil" severity="primary" class="mr-2" (click) = "editOpenDialog(categoria)"/>
            <p-button icon="pi pi-trash" severity="warning" (click) = "funEliminarCategoria(categoria)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <hr />

  <!-- {{ categorias }} -->

  <input type="text" name="nombre" [(ngModel)]="categoria.nombre" />
  <input type="text" name="detalle" [(ngModel)]="categoria.detalle" />

  <button (click)="funGuardarCategoria()">Guardar Categoría</button>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DETALLE</th>
        <th>ACCIÓN</th>
        </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>{{ categoria.detalle }}</td>
            <td>
              <a [routerLink]="['/categorias', categoria.id]">Ver</a>
      </td>
      </tr> -->

      @for (cat of categorias; track $index) {
      <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.nombre }}</td>
        <td>{{ cat.detalle }}</td>
        <td>
          <button (click)="funEditarCategoria(cat)">Editar</button>
          <button (click)="funEliminarCategoria(cat)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<p-dialog header="Categoría" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Datos de Categoría</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="nombre" class="font-semibold w-6rem">Nombre</label>
        <input pInputText id="nombre" class="flex-auto" autocomplete="off" name="nombre" [(ngModel)]="categoria.nombre"/>
    </div>
    <!-- <div class="flex align-items-center gap-3 mb-5">
        <label for="detalle" class="font-semibold w-6rem">Detalle</label>
        <input pInputText id="detalle" class="flex-auto" autocomplete="off" name="detalle" [(ngModel)]="categoria.detalle"/>
    </div> -->
    <div class="flex align-items-center gap-3 mb-5">
      <label for="detalle" class="font-semibold w-6rem">Detalle</label>
      <textarea
        id="detalle"
        class="flex-auto"
        rows="4"
        cols="20"
        pInputTextarea
        [(ngModel)]="categoria.detalle">
      </textarea>
    </div>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="Guardar" (click)="funGuardarCategoria()" />
    </div>
</p-dialog>
