<h1>Productos</h1>

<select name="" id="" [(ngModel)]="categoriaSeleccionada" (change)="funObtenerLosProductos()">
  <!-- <option value="" *ngFor="let categoria of categorias">{{ categoria.nombre }}</option> -->

  @for (categoria of categorias; track $index) {
    <option [value]="categoria.id">{{ categoria.nombre }}</option>
  }
</select>

{{ categoriaSeleccionada }}
<hr>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>PRECIO</th>
      <th>CATEGORIA</th>
      <th>STOCK</th>
      <th>ACCION</th>
    </tr>
  </thead>
  <tbody>
    @for (item of productos; track $index) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.precio }}</td>
        <td>{{ item.categoria?.nombre }}</td>
        <td>{{ item.stock }}</td>
        <td>
          <a [routerLink]="['/productos', item.id]">Ver</a>
        </td>
      </tr>
    }
    <!-- <tr *ngFor="let producto of productos">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.precio }}</td>
      <td>{{ producto.stock }}</td>
      <td>
        <a [routerLink]="['/productos', producto.id]">Ver</a>
      </td>
    </tr> -->
  </tbody>
</table>
