<div class="card">
  <h1>Category Management</h1>

  <!-- {{ categories }} -->

  <input type="text" name="nombre" [(ngModel)]="category.nombre" />
  <input type="text" name="detalle" [(ngModel)]="category.detalle" />

  <button (click)="fnSaveCategory()">Guardar Categoría</button>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>DETALLE</th>
        <th>ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let categoria of categorias">
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nombre }}</td>
      <td>{{ categoria.detalle }}</td>
      <td>
        <a [routerLink]="['/categorias', categoria.id]">Ver</a>
      </td>
    </tr> -->

      @for (cat of categories; track $index) {
      <tr>
        <td>{{ cat.id }}</td>
        <td>{{ cat.nombre }}</td>
        <td>{{ cat.detalle }}</td>
        <td>
          <button (click)="fnEditCategory(cat)">Editar</button>
          <button (click)="fnDeleteCategory(cat)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
